* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;
  display: none;
}

a {
  text-decoration: none;
  color: #6C757D;
}

body {
  overflow-x: hidden;
  height: 100vh;
}